h1> Sign Up Here</h1>

<%= form_for @user do |f| %>
<%= render 'layouts/error_messages' %>
  <%= f.label :first_name, 'First name' %>
  <%= f.text_field :first_name %>  
<br><br>
<%= f.label :last_name, 'Last name' %>
  <%= f.text_field :last_name %>  
  <br><br>
  <%= f.label :email, 'Enter your email' %>
  <%= f.email_field :email %>  
  <br><br>
  <%= f.label :password, 'Enter your password' %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password_confirmation, 'Enter your password' %>
  <%= f.password_field :password_confirmation %>
  <br><br>
 
  <%= f.submit  'Create your account'%>

<% end %>
