<%= render 'post_form' %>

<% if !@posts.empty? %>
<h4>Recent posts:</h4>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= time_ago_in_words(post.created_at)%> ago <br>
      <%= image_tag post.creator.gravatar_url, :class => "gravatar" %>
      <b><%= link_to  post.creator.first_name, post.creator %> said: </b> <span><%= post.content %></span>
    
      <% if current_user == post.creator %>
      <%= link_to 'Edit Post' ,edit_post_path(post) %>
      <%= link_to 'Delete Post' ,post , method: :delete %> <br>
      
      <% end %> <br>
      <%= pluralize(post.likes.count, 'Like') %>  <%= pluralize(post.comments.count, 'Comment') %> <br>
      <%= link_to 'Like', {:controller => "likes", :action => "create", :post_id => post.id, } , :method=>:post  %>
<ul>
  <% post.comments.each do |thought| %>
  <%= image_tag thought.commenter.gravatar_url, :class => "gravatar" %>
  <b><%= link_to  thought.commenter.first_name, thought.commenter %> said: </b> <span><%= thought.comment %></span>

  <% end %>

</ul>
      
      
      <%= form_for @comment do |f|%>
  <%= render 'devise/shared/error_messages', resource: f.object %>
  <div class="field">
        <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_field :comment, placeholder: "What are your thoughts about this post?" , class: 'form-control', required: true, autocomplete: 'off'%>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary d-none" %>
<% end %>

      <br><br>
    </li>
  <% end %>
</ul>
<% end %>